<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config.application_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row" style="margin-top: 20%">
        <div class="col-sm-6 col-sm-offset-3" >
          <% if notice %>
              <div class="alert alert-info" role="alert">
                <%= notice %>
              </div>
          <% end %>

          <% if alert %>
              <div class="alert alert-danger" role="alert">
                <%= alert %>
              </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
